body {
  font: 20px "Montserrat", sans-serif;
  line-height: 1.8;
  color: white;
}

footer {
  margin-top: 0;
  margin-bottom: 0;
  background-color: darkslategrey;
  color: black;
}

p {
  font-size: 16px;
}

.aboutme {
  font-family: "Orbitron", sans-serif;
}

.aboutimg {
  border-radius: 50%;
  margin-bottom: -11%;
}

.porttitle {
  font-family: "Orbitron", sans-serif;
}

.footertitle {
  font-family: "Orbitron", sans-serif;
}

.navbar {
  position: relative;
  margin-bottom: 5px;
  background-color: white !important;
  z-index: 9999;
  border: 0;
  font-size: 12px !important;
  line-height: 1.42857143 !important;
  letter-spacing: 4px;
  border-radius: 0;
}

.navbar-brand {
  height: 1rem;
  width: 1rem;
  padding: 0 0 0 0 !important;
}

.imglogo {
  margin: 0 0 0 0 !important;
  padding: 0 0 0 0 !important;
  height: 100%;
  width: auto;
}

.navbar li a,
.navbar .navbar-brand {
  color: black !important;
}

.navbar-nav li a:hover,
.navbar-nav li.active a {
  color: black !important;
  background-color: #6b8e23 !important;
}

.navbar-default .navbar-toggle {
  border-color: transparent;
  color: white !important;
}

.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
}

.bg-1 {
  color: black;
}

.bg-2 {
  background-color: white; /* Dark Blue */
  color: black;
}

.bg-3 {
  background-color: white;
  color: black;
}

.video-wrapper1 {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 45%;
}
.video-wrapper1 iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

.fa-linkedin {
  background: #3b5998;
  color: white;
}

.fa-twitter {
  background: #55acee;
  color: white;
}

.fa-youtube {
  background: white;
  color: red;
}

/* this is for the contact page */
#contact {
  width: 100%;
  height: 100%;
  font-family: "Orbitron", sans-serif;
}

#contact > h1,
h2,
h3 {
  margin: 0 0 35px 0;
  font-family: "Orbitron", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
}

#contact > p {
  margin: 0 0 25px;
  font-size: 18px;
  line-height: 1.6em;
}
#contact > a {
  color: #26a5d3;
}
#contact > a:hover,
a:focus {
  text-decoration: none;
  color: #26a5d3;
}

#contact {
  background: #333333;
  color: #f4f4f4;
  padding-bottom: 80px;
}

textarea.form-control {
  height: 100px;
}

@media only screen and (max-width: 600px) {
  .descrip {
    font-size: 1.1em;
  }
  .imgcontainer {
    text-align: center;
  }
}

@media only screen and (max-width: 600px) {
  .video-wrapper2 {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 65%;
    margin-bottom: 20px;
  }
  .video-wrapper2 iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
